 * { margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
 }

 .container { overflow-x: hidden;}


a { text-decoration: none;
color:black;}
li { list-style: none;}

.navleft1 ul  { display: flex;
   gap: 10px;}

   .navleft1 ul a {font-size: 13px;}

.navbar { display: flex;
   justify-content: space-between;
   align-items: center;
padding: 10px 150px ;
background-color: #F2F7F8;
z-index: 1;
position: fixed;
width: 75%;
}

.navleft { display: flex;
align-items: center;
justify-content: center;
gap: 30px;}



.navbar img { width: 9em;
height: auto;}

.navright button { padding: 12px;
border-radius: 10px;
border-width: 1px;
}

.navright button:last-child {background-color: #122231;
color: white;
margin-left: 5px;}

.hamburger img { max-width:2.5em;
   height: auto;}

   .hamburger {display: none;}

   /* section 2 hero */

   .hero { display: flex;
   justify-content: center;
align-items: center;
padding:120px 150px 5em;
gap: 20px;
background-color: #F2F7F8;
}

.heroleft p:first-child { background-color: #0089FF;
padding: 10px;
border-radius: 50px;
margin-bottom: 20px;
color: white;}

.heroleft p:first-child:hover {background-color:#060F21; }

.heroleft h1 {color: #122231;
width: 10em;
line-height: 56px;
font-weight: 700;
font-size: 48px;
margin-bottom: 20px;}

.heroleft p:last-child {color: #41505f;
  line-height: 32px;
font-weight: 400;
font-size: 16px;
width: 20em;
margin-bottom: 20px;}

.btn1 , .btn2 { padding: 12px;
background-color: #122231;
border-radius: 10px;
border : 1px solid #122231;
width: 9em;
display: flex;
align-items: center;
gap: 3px;
}

.btn a {color: white;}

.btn {display: flex;
gap: 5px;
align-items: center;}

.heroleft img { width: 20px;
height: auto;}

.heroright img { height:auto;
width: 27em;
opacity: 1;
}

@keyframes bounce {
   0%, 100% {
     transform: translatey(0);
   }

   50% {
     transform: translatey(-20px);
   }
 }
 
 .bounce {
   animation: bounce 2s ease-in-out infinite;
 }

 /* section 3 */
.herotext { display: flex;
 padding: 0 150px 150px; 
background-color:  #F2F7F8;
gap: 30px;
align-items: center;}


.herotext2 {

p { line-height: 27px;
   font-size: 13px;
   max-width: 500px;
}

h3 { line-height: 24px;
   margin-bottom: 20px;

}

}

.herotext3 p {line-height: 24px;
   font-size: 13px;
   font-weight: 700
}

.herotext3 img {width: 30px;
height: auto;}

.herotext3 { display: flex;
align-items: center;
padding-top: 30px;
position: relative;
cursor: pointer;
text-decoration: none;}


.herotext3:hover {text-decoration: underline 2px black;}







/* section 4 */
.sect4text { text-align: center;
width: 100%; 
padding-bottom: 100px;
background-color: #F2F7F8;}

.sect4text h1 { font-size: 40px;
   line-height: 66px;
}

.sect4text p { font-size: 19px;
   line-height: 35px;
   color: #314558;
}

/* section 4 part 2 */
.herogrid {display: grid;
grid-template-columns: repeat(2 , 1fr);
gap: 30px;
color: white;
padding:10px 200px ;
background-color: #F2F7F8;
margin-bottom: 150px;
}

.automated { background-color: #0F60D6;
padding: 50px 5px 20px 20px; 
border-radius: 20px;
width: 420px;
height: 270px;
position: relative;


h2 { line-height: 42px;
font-size: 30px;
padding-bottom: 20px;}

p { line-height: 16px;
   font-size: 14px;
width: 230px;}
   
}


.fixed { background-color: #2295F2;
   padding: 40px 5px 20px 20px;
   border-radius: 20px;
   width: 420px;
height: 270px;
position: relative;


   h2 { line-height: 42px;
      font-size: 30px;
      padding-bottom:8px}
      
      p { line-height: 16px;
         font-size: 14px;
         width: 230px;}
      }


.goal { background-color: #39C277;
   padding: 50px 5px 20px 20px;
   border-radius: 20px;
   position: relative;
   width: 420px;
   height: 270px;


   h2 { line-height: 42px;
      font-size: 30px;
      padding-bottom: 20px}
 
      
      p { line-height: 16px;
         font-size: 14px;
         width: 230px}
      
      }


.flexnaira { background-color: #E5489B;
   padding: 50px 5px 20px 20px;
   border-radius: 20px;
   position: relative;
   width: 420px;
   height: 270px;

   h2 { line-height: 42px;
      font-size: 30px;
      padding-bottom: 20px}
      
      p { line-height: 16px;
         font-size: 14px;
         width: 230px}
      
      }


.flexdollar { background-color: #0C1825;
   padding: 50px 5px 20px 20px;
   border-radius: 20px;
   position: relative;
   width: 420px;
   height: 270px;

   h2 { line-height: 42px;
      font-size: 30px;
      padding-bottom: 20px}
      
      p { line-height: 16px;
         font-size: 14px;
         width: 230px}
      }
   

.houseMoney { background-color:#FF783C;
   padding: 50px 5px 20px 20px;
   border-radius: 20px;
   position: relative;
   width: 420px;
   height: 270px;

   h2 { line-height: 42px;
      font-size: 30px;
      padding-bottom: 20px}
      
      p { line-height: 16px;
         font-size: 14px;
         width: 230px;}
      }

      .herogrid img { width: 180px;
      height: auto;}


      .automated1 , .fixed1 ,.goal1 ,.flexnaira1 , .flexdollar1 , .houseMoney1 
       { display: flex;
      align-items: end; 
      justify-content: space-between;
      width: 100%;
      height: 70%;
  }

  .abso { position:absolute;
bottom: -5px;;
left: 55%;

}

.arrow img { width: 30px;
height: auto;}

.arrow { display: flex;
align-items: center;
gap: 5px;
padding-bottom: 20px;
}

/* <!-- section 5--> */
.sect5text { text-align: center;

h1 { font-size: 51px;
line-height: 64px;
font-weight: 700;}


p {  font-size: 24px;
   line-height: 33px;
color: rgba(29, 28, 28, 0.824);}
}



.sect5 { display: flex;
   justify-content: space-between;
padding: 70px 50px 0px 50px;
margin: 50px 50px 200px;
border-radius: 25px;
background-color:#7913E5;}

.sect5img img{ width:420px;
height: auto;}

.sect5left { width: 50%;
display: flex;
flex-direction: column;
justify-content: space-between;
color: white;


h1 {font-size: 36px;
   line-height: 50px;
   font-weight: 700;
padding-bottom: 50px;}


p { font-size: 20pxpx;
   line-height: 28px;
   font-weight: 400;
width: 240px;
color: wheat;}

}

/* section 6 */
.sect6 { text-align: center;
   padding: 150px ;
   background-color: #F2F7F8;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

h1{font-size: 48px;
   line-height: 64px;
   font-weight: 700;
   color: #122231;

}

p {font-size: 24px;
   line-height: 33px;
   font-weight: 400;
   width: 33em;
   margin: 0 auto;
   padding-bottom: 50px;
}

}

.sect6 video {width:740px;
   height: 450px;
border-radius: 25px;
border: 10px solid white;
object-fit: cover;}

/* section 7 */
.sect7 { display: flex;
gap: 50px;
align-items: center;
justify-content: center;
background-color: #F2F7F8;
padding-bottom: 150px;
flex-wrap: wrap-reverse;


h1 { padding-bottom: 35px;
   font-size: 33px;
   line-height :41px; 
   font-weight:400 ;
width: 480px;
}
}

.sect7img img{ max-width: 27em;
height: auto;}

.btn3 img { max-width: 20px;
height: auto;}


.sect7btn  { display: flex;
gap: 15px;}

.btn3 { padding: 12px;
   border: 1px solid black;
   border-radius: 15px;
   display: flex;
   align-items: center;
   gap: 5px;
   transition: all 350ms
}

.btn3:hover { 
   transform: translatey(-5px );}

/* sponsors */
.sponsors { padding-bottom: 200px;
   background-color: whitesmoke;


   h1 { line-height:41px ;
   font-weight: 700;
font-size:33px ;
padding-bottom: 30px;
text-align: center;}
   }


.sponsorsimg img { max-width: 120px;
height: auto;}


.sponsorsimg { display: grid;
grid-template-columns: repeat(6,1fr);
justify-content: center;
align-items: center;
padding-left: 100px;}

/* footer */

.footer { display: grid;
grid-template-columns: repeat(4 ,1fr);
padding:50px 0;
margin: 0 50px;
border-bottom: 0.5px solid black;


p {font-size:14px ;
   line-height:22px ;
   font-weight:400 ;
   padding-bottom: 5px;
   color:rgb(18, 34, 49)
}

a { font-size:14px ;
   line-height:22px ;
   font-weight:300 ;
   padding-bottom: 20px;
   color: #566370;

}
}

footer img { width: 130px;
height: auto;
padding-bottom: 20px;}

.address img { width: 20px;
padding-right: 10px;
padding-bottom: 10px;
transition: all 350ms;}

.address img:hover { transform:translatey(-2px);}

.footimg img{ display: grid;
grid-template-columns: 1fr;}

.footertext { display: flex;
flex-direction: column;
padding-left: 100px;}

.footertext li { padding-bottom: 5px;}

.address { text-align: right;

p{ padding-bottom: 10px;}
}

.footertext1 { display: grid;
grid-template-columns: 1fr 1fr;
gap: 120px;

li { padding-bottom: 5px;}

}

.footer a:hover { color: blue;}

/* footer 2 */

.foot {padding: 50px;}

.foot p { line-height:22px ;
font-size:11px ;
font-weight:400 ;
padding-bottom: 10px;
color:rgba(61, 79, 96, 0.65);}

.foot p:nth-child(1) { width: 650px;}


.foot p:nth-child(2) { width: 450px;}

.foot p:nth-child(3) {color: rgb(8, 62, 158);
   line-height:27px ;
font-weight:400;}











@media (max-width:720px){ 

 .container {
overflow-x: hidden;
text-align: center;
margin: 0 auto;}

   .hamburger {display:block;}
   .navleft1 , .navright { display: none;}
.navbar { padding:5px 20px 0;
width: 90%;}
.hero { flex-wrap: wrap;}

.hero { margin: 0 auto;
   padding: 50px 5px 50px;
width: 100%; 
gap: 50px;
}
.heroleft h1  { width: 300px;}

.heroright img { width: 24em;
}

.herotext { padding: 20px;
flex-wrap: wrap;
margin: 0 auto;
justify-content: center;}

.herotext2 h3 { 
   width: 200px;
margin: 0 auto;
margin-bottom: 20px;
}

.herotext2 p { width: 280px;}


.sect4text h1 { width: 380px;
   margin: 0 auto;
   text-align: center;
}

.sect4text p { max-width: 400px;
text-align: center;
margin: 0 auto;}

.herogrid { display: flex;
flex-direction: column;
align-items: center;
}

.herogrid p {margin: 0 auto;}

.automated , .fixed ,.goal ,.flexnaira , .flexdollar , .houseMoney
{
 width: 350px;;
}

.abso { 
   bottom: -5px;;
   left: 50%;
   }

   .sect5 { flex-wrap: wrap;
   align-items: center;
   justify-content: center;
padding: 20px 10px 0;
margin: 15px;

p { padding-bottom: 20px;}
}
   .sect5img img{ width: 300px;
      height: 300px;}  

.sect5left { 
   width: 100%;

   h1 { width:370px;
   font-size: 30px ;}

   p { width: 300px;
   text-align: center;
margin: 0 auto;}
}
.sect5left .arrow { margin: 0 auto;}


.sect6 video {width: 380px;
   height: 500px;
}


   .sect6 { 
   
      h1 { width:300px;
      font-size: 25px ;
   line-height: 30px;
margin: 0 auto;
padding-bottom: 20px;}
   
      p { width: 400px;
      text-align: center;
   margin: 0 auto;
padding-bottom: 30px;}
   }


   .sect7img img{ max-width: 23em;
      height: auto;
   }

   .sect7right h1 { 
      width: 380px;
         font-size: 33px;
         line-height :41px; 
         font-weight:400 ;
      text-align: center;}

      .sect7btn {justify-content: center;}  

      .sponsorsimg { display: grid;
      grid-template-columns: repeat(2 , 1fr);
gap: 30px;
justify-content: center;
align-items: center;
padding-right: 40px;
}

.sponsorsimg img { max-width: 200px;
   height: auto;
margin: 0 auto;}


.footer {display: flex;
flex-direction: column;
gap: 30px;}

.address { text-align: left;}

.footertext { display: flex;
text-align: left;
padding-left: 3px;}

.footertext1 { text-align: left;}


.foot p  { text-align: left;
   max-width: 380px;}

   .foot {padding: 20px;;}





}